.navbar {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px 10px 20px;
  background-color: var(--dark-bg);
}

.brand {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: var(--text-white);
  gap: 10px;
}

.brand img {
  height: 60px;
  width: 50px;
}

.brand h2 {
  font-size: 2.5rem;
  font-weight: 600;
  margin: 0;
}

.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  margin-left: auto;
}

.menu ul {
  display: flex;
  gap: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu ul li a {
  text-decoration: none;
  color: var(--text-white);
  font-size: 2rem;
  font-weight: 500;
  transition: color 0.3s ease;
}

.menu ul li a:hover {
  color: var(--primary-color);
}

.menu-join {
  padding: 5px 10px 5px 10px;
  background-color: var(--secondary-color);
  color: var(--text-white);
  border-radius: 20px;
  text-decoration: none;
  font-size: 2rem;
  transition: background-color 0.3s ease;
}

.menu-join:hover {
  background-color: #2288ee;
}
